<input [(ngModel)]="partNumber" placeholder="set #" >
<input [(ngModel)]="colorA" placeholder="Color A" >
<input [(ngModel)]="colorB" placeholder="color B" >
<button (click)="onBrickSelect(partNumber,colorA,colorB)">Search</button>


<h2>Parts that share this color that you can buy</h2>
<ul class="parts">
  <li *ngFor = "let part of parts ">
      <h1>Color {{part.color_name}}</h1>
      <h2>Element# {{part.elements[0]}}</h2>
      <img width="50" height="50" alt="color" src="{{part.part_img_url}}">
  </li>
</ul>