

  <input class="input is-primary " type="text"  [(ngModel)]="partNumber" placeholder="Set #" >
  <select name="color_a" [(ngModel)]="colorA">
    <option *ngFor="let color of color_options">{{color.name}}</option>
</select>  
<select name="color_b" [(ngModel)]="colorB">
    <option *ngFor="let color of color_options">{{color.name}}</option>
</select>  
  <button  class="button is-primary is-medium is-fullwidth" (click)="onBrickSelect(partNumber,colorA,colorB)">Search</button>
<ul>
  

  <li class="section" *ngFor = "let part of parts ">
    <div class="box">
      <h1>Color {{part.color_name}}</h1>
      <h2>Element# {{part.elements[0]}}</h2>
      <img width="50" height="50" alt="color" src="{{part.part_img_url}}">
    </div>
  </li>
</ul>