/* You can add global styles to this file, and also import other style files */

@import "../css/mystyles.css";

input{
    text-align: center;
}
select {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
 }